# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
/.deprecated

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
.vs/VSWorkspaceState.json
.vs/chartchek-v0.75b/FileContentIndex/5e8a00c6-75fd-4d1b-9e17-f0f2dd3680c8.vsidx
.vs/chartchek-v0.75b/v17/.wsuo
.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/chartchek-v0.75b/v17/DocumentLayout.json
.aider*

#custom
*.bak
_codebase.md
*.old